.bblistBody{
    background-color: #dceffe;
    height:1000px;
}
.bblistBody1{
    background-color: white;
    width: 70%;
    height: 100%;
    margin-left: 15%;
    border-top:130px solid #dceffe;
    border-bottom: 1px solid #eee;
}
.bblistBody1List{
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #eee;
    position: relative;
}
.bblistBodyReq{
    height: 30px;
    width: 50px;
    background-color: white;
    border: 1px solid #eee;
    margin-top:21px;
    margin-left: 15px;
    *display: block;
    line-height: 50px;
}
.bblistBodyTop{
    height: 20px;
    width: 30px;
    display: block;
    vertical-align: middle;
    position: absolute;
    margin-top: -17px;
    margin-left: 44px;
}
.bblistBodyTital{
    color: #ff411c;
    font-size: 20px;
    display: block;
    margin-left:100px;
    margin-top: -60px;

}
.bblistBodyUser{
    color: #ff411c;
    font-size: 16px;
    display: block;
    margin-left:25%;
    margin-top: -60px;
}
.bblistBodyTime{
    font-size: 14px;
    display: block;
    margin-left:7%;
    margin-top: -60px;
}
