a:link, a:visited {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #ff411c;
}

.header {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: white;
}

.header #logo {
    height: 80px;
    width: auto;
    margin-top: 10px;
    margin-left: 10%;
}

.header .header-left {
    float: left;
}

.header .header-right {
    float: right;
}

.header .header-menu-link {
    position: relative;
    margin: 0 4px;
}

.header-menu {
    outline: none;
    list-style: none;
    vertical-align: middle;
    margin-top: 2%;
    margin-left: 15%;
}

.header-menu a {
    font-size: 24px;
    font-family: inherit;
    color: #333;
}

.header .header-menu li {
    outline: none;
    *list-style: none;
    margin-left: 30px;
}

.header .header-menu a:hover {
    color: #ff411c;
}

.header .login-register-button {
    padding: 0 20px 0 15px;
    width: auto;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    height: 30px;
    border: 1px;
    background-color: #ff411c;
    border-radius: 30px / 30px;
    margin-right: 10%;
    margin-top: -5px;
}

.login-register-button a {
    display: inline-block;
    color: #fff;
    font-size: 14px;
}

.header .header-right-menu-items {
    margin-right: 30px;
    margin-top: -20px;
}

.header .header-right-menu-items p {
    font-size: 12px;
    font-family: inherit;
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: center;
}