<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
    </style>
</head>
<body>

<div class="floor" v-for="temp in floors">
    <div class="floor-head-image">
        <img src="http://d.lanrentuku.com/down/png/1807/if-family/if_brother_3231124.png" alt="Unload" style="width: 100px"/>
        <p>APlus</p>
    </div>
    <div class="floor-content">
        <p>x9拉跨就全队没了？a队是靠的枪法？先不说枪法，就a队战术你液体能刚得住？？就液体现在那总监，只能全队靠树懒和🐔哥，a队磨男和阿杜不是枪男？？，虽然对于其他职业哥来说，不是最顶级的，但别人枪法也不差好吧，别无脑喷</p>
    </div>
    <div class="floor-information">
        <p>创建时间：2019-12-16 16:54:23</p>
    </div>
    <div class="floor-replies" v-for="reply in temp.replies">
        <div class="floor-replies-body">
            <p>Aplus : 液体是总监有伤，你看明年不恢复不</p>
            <p>路人甲 : 吧宠开心就好</p>
        </div>
    </div>
</div>

<div class="floor" v-for="temp in floors">
    <div class="floor-head-image">
        <img src="http://d.lanrentuku.com/down/png/1807/if-family/if_brother_3231124.png" alt="Unload" style="width: 100px"/>
        <p>APlus</p>
    </div>
    <div class="floor-content">
        <p>x9拉跨就全队没了？a队是靠的枪法？先不说枪法，就a队战术你液体能刚得住？？就液体现在那总监，只能全队靠树懒和🐔哥，a队磨男和阿杜不是枪男？？，虽然对于其他职业哥来说，不是最顶级的，但别人枪法也不差好吧，别无脑喷</p>
    </div>
    <div class="floor-information">
        <p>创建时间：2019-12-16 16:54:23</p>
    </div>
    <div class="floor-replies" v-for="reply in temp.replies">
        <div class="floor-replies-body"> <!--每层楼的回复-->
            <p>Aplus : 液体是总监有伤，你看明年不恢复不</p>
            <p>路人甲 : 吧宠开心就好</p>
        </div>
    </div>
</div>

</body>
</html>